<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.mapkit"
    version="0.9.3">

    <name>MapKit</name>
    <author>Anis Kadri</author>
    <license>Apache</license>

    <asset src="www/map-close-button.png" target="img/map-close-button.png" />

    <!-- android -->
    <platform name="android">
        <js-module src="www/MapKit.js" name="mapkit">
            <clobbers target="plugin.mapKit" />
        </js-module>
	
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <permission
                android:name="$PACKAGE_NAME.permission.MAPS_RECEIVE"
                android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.MAPS_RECEIVE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
            <uses-feature
                android:glEsVersion="0x00020000"
                android:required="true" />
            
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="$API_KEY" />
            <meta-data android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/widget">
           <feature name="MapKit">
              <param name="android-package" value="com.phonegap.plugins.mapkit.MapKit"/>
            </feature>
        </config-file>

        <source-file src="src/android/MapKit.java"
                target-dir="src/com/phonegap/plugins/mapkit" />
        <preference name="API_KEY" />
        <info>
In order for this plugin to work you need to make sure to have 

* The latest Android SDK and tools

* Google Play Services installed (use the `android` command or the Android SDK Manager in ADT/Eclipse).

* Copy `YOUR_ADT_BUNDLE_PATH/sdk/extras/google/google_play_services/libproject/google-play-services_lib` to your developement folder. Usually a folder up from your app.

* Run `android update lib-project -p . -t YOUR_ANDROID_TARGET` inside your newly copied `google-play-services_lib` folder

* Run `android update project -p . -t YOUR_ANDROID_TARGET -l /path/to/google-play-services_lib/` in your project root folder. HAS TO BE A RELATIVE PATH (replace /path/to with the real path obviously)

* copy google-play-services_lib/res/version.xml to your project's res/values/ folder 

In case everything miserably fails and you can't build your project, you might need to import it in ADT (Eclipse) or Android Studio (IntelliJ).
        </info>
    </platform>
    <!-- ios -->
    <platform name="ios">
        <js-module src="www/MapKit.js" name="mapkit">
            <clobbers target="plugin.mapKit" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="MapKit">
                <param name="ios-package" value="MapKitView"/>
            </feature>
        </config-file>

        <framework src="MapKit.framework" />
        <resource-file src="src/ios/icon.png" />

        <header-file src="src/ios/AsyncImageView.h" />
        <header-file src="src/ios/CDVAnnotation.h" />
        <header-file src="src/ios/MapKit.h" />

        <source-file src="src/ios/AsyncImageView.m" />
        <source-file src="src/ios/CDVAnnotation.m" />
        <source-file src="src/ios/MapKit.m" />
    </platform>
</plugin>
